global
    maxconn 10000
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 10s
    timeout client  1h
    timeout server  1h

# Статистика HAProxy
listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats realm HAProxy\ Statistics
    stats auth admin:admin

# Primary PostgreSQL через PgBouncer (чтение и запись)
listen postgres-primary
    bind *:5432
    mode tcp
    option tcplog
    balance roundrobin
    option pgsql-check user rebrain_admin
    default-server inter 3s fall 3 rise 2
    server pgbouncer1 158.160.69.68:6432 check
    server pgbouncer2 158.160.90.33:6432 check backup

# Реплики PostgreSQL через PgBouncer (только чтение)
listen postgres-replicas
    bind *:5433
    mode tcp
    option tcplog
    balance roundrobin
    option pgsql-check user rebrain_admin
    default-server inter 3s fall 3 rise 2
    server pgbouncer1 158.160.69.68:6432 check
    server pgbouncer2 158.160.90.33:6432 check
